<div
  [class]="
    variant +
    ' border-l-4 flex bg-dove-200 rounded p-6 justify-between items-center [&:host]:flex-1 w-full'
  "
>
  @if (secondName.length > 0) {
  <div class="flex items-center justify-center pr-6 flex-col">
    <span class="text-sm">{{ firstName }}</span>
    <span class="text-dove-400">+</span>
    <span class="text-sm">{{ secondName }}</span>
  </div>
  } @else {
  <span class="pr-6">{{ firstName }}</span>
  }

  <ul class="flex flex-col gap-1 self-end border-l border-dove-600 flex-1">
    <li class="flex justify-between items-center gap-1">
      <span class="text-dove-600 text-sm ml-auto">Entrada:</span>
      <span class="text-dove-800"> {{ income }}</span>
    </li>
    <li class="flex justify-between items-center gap-1">
      <span class="text-dove-600 text-sm ml-auto">Saída:</span>
      <span class="text-red-500"> {{ outcome }}</span>
    </li>
    <li class="flex justify-between items-center gap-1">
      <span class="text-dove-600 text-sm ml-auto">Restante:</span>
      <span class="text-emerald-600"> {{ budget }}</span>
    </li>
  </ul>
</div>
