<dialog
  #dialog
  class="max-w-[480px] text-dove-50 bg-neutral-900 p-12 rounded shadow relative z-10 backdrop:bg-dove-950/50"
>
  <ng-content></ng-content>

  <button
    (click)="closeDialog()"
    class="rounded-full p-1 transition-colors hover:bg-dove-700 absolute top-4 right-4 flex items-center justify-center"
  >
    <ng-icon
      name="ionClose"
      size="24"
      class="text-dove-200 hover:text-dove-50"
    />
  </button>
</dialog>

<app-button
  (click)="openDialog()"
  [text]="triggerText"
  [variant]="triggerVariant"
  type="submit"
  class="w-full"
/>
