<dialog
  #dialog
  class="max-w-[480px] text-zinc-50 bg-slate-800 p-12 rounded shadow relative z-10 backdrop:bg-slate-950/50"
>
  <ng-content></ng-content>

  <button
    (click)="closeDialog()"
    class="rounded-full p-1 transition-colors hover:bg-slate-700 absolute top-4 right-4 flex items-center justify-center"
  >
    <ng-icon
      name="ionClose"
      size="24"
      class="text-slate-200 hover:text-slate-50"
    />
  </button>
</dialog>

<button
  (click)="openDialog()"
  class="h-12 px-6 pl-10 rounded border-slate-200 border flex gap-1 items-center justify-center"
>
  <ng-icon name="ionAdd" size="18" class="-ml-6"></ng-icon>
  {{ triggerText }}
</button>
