<form
  [formGroup]="outcomeForm"
  class="max-w-[480px] bg-slate-800 p-12 rounded shadow gap-6 flex flex-col form-group"
>
  <div class="flex items-center justify-center gap-2">
    <span class="text-lg font-semibold">Adicionar nova despesa</span>
    <ng-icon name="ionTrendingDown" size="24" class="text-red-500" />
  </div>

  <div class="flex flex-col gap-1">
    <label for="name">Nome</label>
    <input
      type="text"
      class="form-control p-2 rounded bg-slate-900 h-12"
      id="name"
      placeholder="Ex: Aluguel, mercado..."
      formControlName="name"
    />
  </div>

  <div class="flex flex-col gap-1">
    <label for="value">Valor</label>
    <input
      type="number"
      class="form-control p-2 rounded bg-slate-900 h-12 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
      id="value"
      placeholder="R$ 0,00"
      formControlName="value"
      min="0.00"
      max="10000.00"
      step="0.01"
    />
  </div>

  <button
    [disabled]="loading() || outcomeForm.invalid"
    (click)="onSubmit()"
    type="submit"
    class="bg-emerald-500 rounded h-12 w-full text-slate-50 enabled:hover:bg-emerald-400 transition-colors disabled:opacity-70"
  >
    @if(loading()) { Carregando... }@else { Salvar }
  </button>
</form>
